/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}

blockquote {
	font-family: 'Kaushan Script', cursive;
}

/* --------------------------------------------------- */

/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}

/*
	Všimni si, jak jsou zde nadefinované barvy.
	Potřebný kód barvy si odtamtud můžeš vyzobnout a použít
	ve svém kódu, ale existuje i lepší způsob.

  CSS custom properties, někdy také označované jako CSS
	variables (CSS proměnné), je způsob, jak si	pojmenovat
	nějakou hodnotu a potom ji v kódu opakovaně používat.
	Často se používá právě pro barvy a další "nastavení".

	Když si chci nějakou hodnotu nadefinovat, použiji zápis
	--mujnazev: hodnota
	Když chci, abych mohl hodnotu používat všude v CSS,
	založím ji uvnitř selektoru :root, takže např.:
	:root {
		--mojebarva: #ff8800;
	}

	Chci-li potom dál v CSS hodnotu použít, stačí použít funkci var a v závorce název proměnné.Např.:
	.odstavec {
		color: var(--mojebarva);
	}

	Nemusím si tak pamatovat kódy barev nebo neustále v CSS jezdit nahoru a dolů, abych si je odněkud zkopíroval.

	Více o CSS custom properties:
	- https://www.w3schools.com/css/css3_variables.asp
	- https://css-tricks.com/patterns-for-practical-css-custom-properties-use/
	- https://www.smashingmagazine.com/2017/04/start-using-css-custom-properties/
*/


/* Nastavení gridu */

.blog {
	display: grid;
	grid-template-columns: [full-start] 1fr [center-start] 4fr [center-end] 2fr [full-end];
	gap: 0 40px;
}

h1, h2, p, header, footer {
	grid-column: center;
}

blockquote, figure {
	grid-column: full;
}

.tip-vlevo {
	grid-column: full-start / center-start;
	align-self: start;
}

.tip-vpravo {
	grid-column: center-end / full-end;
	align-self: start;
}


/* Styly */

img {
	width: 100%;
}

p {
	margin-top: 0;
}

h1, 
h2 {
	color: var(--limetka);
}

h1 {
	font-size: 4rem;
	margin-bottom: 4rem;
}

h2 {
	font-size: 3rem;
}

header > p,
figcaption,
blockquote,
footer * {
	color: var(--seda);
}

h2,
blockquote,
figure {
	margin: 2rem 0;
}

blockquote {
	padding: 1.5rem 0;
	position: relative;
	font-size: 2rem;
	text-align: center;
}

blockquote::before,
blockquote::after {
	--min-line-width: 80px;
	--line-width: 10vw;
	position: absolute;
	top: 0;
	right: min(calc(50% - (var(--line-width) / 2)), calc(50% - (var(--min-line-width) / 2)));
	content: "";
	min-width: var(--min-line-width);
	width: var(--line-width);
	border-top: 2px solid var(--limetka);
}

blockquote::after {
	top: unset;
	bottom: 0;
}

.tip {
	padding: 20px;
	background-color: var(--svetla);
	color: var(--tmava);
}

.tip > p {
	margin: 0;
}

.tip a {
	color: var(--oranzova);
}

.tip-vlevo {
	border-right: 2px solid var(--oranzova);
}

.tip-vpravo {
	text-align: right;
	border-left: 2px solid var(--oranzova);
}

footer {
	margin-top: 2rem;
}



